[submodule "taiga-back"]
	path = taiga-back
	url = https://github.com/taigaio/taiga-back.git
	branch = master
[submodule "taiga-front-dist"]
	path = taiga-front-dist
	url = https://github.com/taigaio/taiga-front-dist.git
	branch = master
[submodule "docker-taiga-events"]
	path = docker-taiga-events
	url = https://github.com/benhutchins/docker-taiga-events.git
	branch = master